.main {
  flex: 1;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 10px auto;
  margin-top: 40px;
  padding: 0 16px 16px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: var(--color-title);
  margin-bottom: 60px;
  text-align: center;
}

.description {
  font-size: 18px;
  color: var(--color-content);
  line-height: 28px;
  margin-bottom: 16px;
}
