.footer {
  padding: 20px;
  background-color: var(--color-footer);
  text-align: center;
  font-size: 14px;
  color: var(--color-content);
  border-top: 1px solid var(--color-border);
}

.wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer a {
  color: var(--color-title);
  font-weight: 600;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
